.heading h1, .button, .list a.button-delete, .list a.button-insert, .htabs a, .content, .content span, .list td, .list td select, .list td input, .form td, .form td select, .form td input, .help, .help span
{
	font-family: "Open Sans", "Segoe UI", "Trebuchet MS", sans-serif;
}
.list
{
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom: 0;
}
.list thead tr td
{
	padding: 5px;
	color: #555555;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	background: #f7f7f7;
}
.list tbody tr td
{
	padding: 5px;
	color: #4d4d4d;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.list tfoot tr td
{
	padding: 5px;
	background: #f7f7f7;
}
.list .center
{
	text-align: center;
}
.box > .heading h1
{
	color: #000;
	padding-top: 8px;
}
.box > .heading h1 img
{
	padding-top: 2px;
}
.box > .heading > .buttons
{
	padding-top: 3px;
}
.box > .content h2
{
	color: #999;
}
a.button, .list a.button-delete, .list a.button-insert
{
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px 6px 15px;
	background: #333;
	border: 2px solid #666;
	border-radius:         5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius:    5px 5px 5px 5px;
	-khtml-border-radius:  5px 5px 5px 5px;
}
.list a.button-delete
{
	width: 56px;
	background: #9e2a00;
	border: 2px solid #812200;
}
.list a.button-insert
{
	width: 56px;
	background: #6f8f52;
	border: 2px solid #7ba60d;
}
