span.required {
    color:red;
}

span.detail-balance {
    color: green;
    margin-bottom: 15px;
}

.s_search_field1 {
    width: 60px;
}

.i_search_field {
    width:80px;
}

.amount_warning {
    color:#808080;
    margin-left: 5px;
    font-size: 12px;
}

.search_group_header {
    border-bottom: dashed #000000 1px;
}

#add_detail_tbl {
    margin: 40px 20px 10px 20px;
}

#add_detail_tbl tr {
    height: 30px;
}

.cart_inp1 {
    width:25px;
}

.cart_inp2 {
    width:60px;
}

tr.error_td, tr.error_td td{
    background-color: #F0D0D0 !important;
}

.PathDataRow {
    border-left: solid #C8081E 2px;
}

.pane-sliders {
    margin: 18px 0 0;
    position: relative;
}
.pane-sliders .title {
    color: #666666;
    cursor: pointer;
    margin: 0;
    padding: 2px 2px 2px 5px;
}
#content-pane {
    margin: 8px 10px 15px 15px;
}
.pane-sliders .panel {
    border: 1px solid #CCCCCC;
    margin-bottom: 3px;
}
.pane-sliders .panel h3 {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #666666;
}
.pane-sliders .content {
    background: none repeat scroll 0 0 #FFFFFF;
}
.pane-sliders .adminlist {
    border: 0 none;
    font-size: 1em;
}
.pane-sliders .adminlist td {
    border: 0 none;
}
.pane-toggler span {
    background: url("../images/j_arrow.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}
.pane-toggler-down span {
    background: url("../images/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}
.pane-toggler-down {
    border-bottom: 1px solid #CCCCCC;
}
h3.pane-toggler-down a:hover, h3.pane-toggler a:hover {
    text-decoration: none;
}
.pane-slider.pane-hide {
    display: none;
}
.pane-slider ol li {
    list-style: none outside none;
    margin-left: -25px;
    margin-top: 10px;
}
input#jformparams_link_titles1, input#jformparams_show_title1, input#jformparams_link_category1 {
    margin-left: 13px;
}
div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
    margin: 5px 0;
}
div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
    margin: 0;
    padding: 5px 0 5px 10px;
}
div#position-icon.pane-sliders .icon {
    background: none repeat scroll 0 0 #FFFFFF;
}
dl.tabs {
    float: left;
    margin: 10px 0 -1px;
    z-index: 50;
}
dl.tabs dt {
    background: none repeat scroll 0 0 #F0F0F0;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    margin-left: 3px;
    padding: 4px 10px;
}
dl.tabs dt.open {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    color: #000000;
    z-index: 100;
}
div.current {
    border: 1px solid #CCCCCC;
    clear: both;
    padding: 10px;
}
div.current dd {
    margin: 0;
    padding: 0;
}
dl#content-pane.tabs {
    margin: 1px 0 0;
}

#cart_tbl, #cart_tbl_wrapper, .search_top_tbl, .search_result_tbl{
    width:100%;
}

#cart_tbl, .vtbl_tm, .vtbl_mm a {
    font-size: 11px;
}

.adminlist {
    width: 100%;
}

.addtocartbutton {
    cursor: pointer;
    width: 16px;
    height:16px;
    background:url(../images/cart.png) center no-repeat;
}
span.stats {
    background: url("../images/stats.png") repeat scroll 0 0 transparent;
    height: 14px;
    width: 15px;
    display: block;
}
span.stats0 {background-position: -254px 0;}
span.stats1 {background-position: 0px 0;}
span.stats2 {background-position: -15px 0;}
span.stats3 {background-position: -30px 0;}
span.stats4 {background-position: -45px 0;}
span.stats5 {background-position: -60px 0;}
span.stats6 {background-position: -75px 0;}
span.stats7 {background-position: -90px 0;}
span.stats8 {background-position: -105px 0;}
span.stats9 {background-position: -120px 0;}
span.stats10 {background-position: -135px 0;}
span.stats11 {background-position: -150px 0;}
span.stats12 {background-position: -165px 0;}
span.stats13 {background-position: -180px 0;}
span.stats14 {background-position: -195px 0;}
span.stats15 {background-position: -210px 0;}
span.stats16 {background-position: -225px 0;}
span.stats_empty {background-position: -240px 0;}
.order_item-icon {padding: 1px;}


.price {
        white-space: nowrap;
}

.not-available {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.price-up {
    color: red;
}

.price-down {
    color: green;
}