.pavcol-sm-5 {
    float: left;
    min-height: 1px;
    position: relative;
    width: 20% !important;
}
.pavcol-sm-1 {
 	width: 100% !important;
 	float: left;
    min-height: 1px;
    position: relative;
 }

.product-block .image:hover .img {
	display: none;
}
.product-block .image:hover .hover-image {
	position: relative;
}

.discount .image:hover .img {
	display: block;
}
.discount .product-block .compare-wishlish {
	display: block;
}