.newsletter_block {
    background: transparent;
    border: 0;
    padding: 10px 0;
}
.newsletter_block .title_block, .newsletter_block h4 {
    color: #FFFFFF;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 30px;
    font-size: 19px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: "proximanova-extrabold",serif;
}
.newsletter_block p{
	padding: 0px;
    color: #A1A5AB;
}
.newsletter_block input.inputNew {
    font-size: 14px;
    padding: 3px;
    background: none repeat scroll 0 0 #323232;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #FFFFFF;
    float: left;
    height: 35px;
    width: 70%;
}
.newsletter_block input.button_mini {
    border: 0 none;
    cursor: pointer;
    height: 35px;
    background-color: #21272C;
    left: 0;
    position: relative;
    color: #fff;
    width: 82px;
}

